#!/bin/bash

# .tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}

# Check if asdf.sh is available
asdf_script="{{- .tools.asdf.path -}}/asdf.sh"
if [ ! -f "$asdf_script" ]; then
    rm -rf "{{- .tools.asdf.path -}}"
    git clone --depth 1 --branch "{{- .tools.asdf.version -}}" "{{- .tools.asdf.url -}}" "{{- .tools.asdf.path -}}"
fi

#Install tool-versions if needed
source "$asdf_script"
echo "Installing tools from .tool-versions"
tool_versions_content="{{ include "dot_tool-versions" }}"
while IFS= read -r line || [ -n "$line" ]; do
    #Split line into tool and version
    tool=$(echo "$line" | cut -d ' ' -f 1)
    version=$(echo "$line" | cut -d ' ' -f 2)
    echo "Found tool '$tool' with version '$version'"
    if [ "$version" == "system" ]; then
        echo "Skipping '$tool' as version is 'system'"
        continue
    fi
    echo "Updating '$tool' plugin"
    if ! asdf plugin update "$tool"; then
        echo "Adding '$tool' plugin"
        asdf plugin add "$tool"
    fi
    echo "Installing '$tool $version'"
    if ! asdf install "$tool" "$version"; then
        echo "Failed to install '$version' for '$tool'"
    fi
done <<< "$tool_versions_content"
